page-science-tools {
.flask{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
    margin-left: 1px;

}
.testtube{
    border-radius:120px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px; 
    margin-right:22px;
    
}
.pipette{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
    margin-left:1em;
}
.cylinder{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
}
.tripod{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
}
.thermometer{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
}
.beaker{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
}
}
