page-science-tools {
div.flask{
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:left;
    border-radius: 5em;
    box-shadow:2em;
}

div.test_tube{
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:left;
    border-radius: 5em;

}
}
