page-science-tools {

.flask{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
    

    

}
.testtube{
    border-radius:120px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px; 
    
    
}
.pipette{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
    
}
.cylinder{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
}
.tripod{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
}
.thermometer{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
}
.beaker{
    border-radius:18px;
    border: 2px solid white;
    padding:6px;
    display:inline-block;
    font-size: 16px;
}
}
